    <footer class="footer">
        <div class="scroll-up"><a href="#return-to-hero"><img class="button-scroll-up" src="./assets/images/ico-arrow.svg" alt="scroll-up"></a>
        </div>

        <nav class="interest">
            <ul class="interest__list">
                <li class="interest__list-item"><a class="interest__link" href="https://www.adalab.es">articles</a></li>
                <li class="interest__list-item"><a class="interest__link" href="https://www.adalab.es">books</a></li>
                <li class="interest__list-item"><a class="interest__link" href="https://www.adalab.es">events</a></li>
                <li class="interest__list-item"><a class="interest__link" href="https://www.adalab.es">reasons</a></li>
                <li class="interest__list-item"><a class="interest__link" href="https://www.adalab.es">tips</a></li>
            </ul>
        </nav>
        <nav class="social-media">
            <ul class="social-media__list">
                <li class="social-media__list-item"><a class="social-media__link"
                        href="https://www.adalab.es">twitter</a></li>
                <li class="social-media__list-item"><a class="social-media__link"
                        href="https://www.adalab.es">instagram</a></li>
                <li class="social-media__list-item"><a class="social-media__link"
                        href="https://www.adalab.es">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <small class="copy">&copy;2021</small>
            <div class="motivation">we <i class="fa fa-heart love-heart"></i> components</div>
        </div>
    </footer>
