<header class="hero" id="return-to-hero">
  <a href="https://www.adalab.es" target="_blank" title="adalab"><img class="hero__menu"
      src="./assets/images/ico-menu.svg" alt="menu"></a>
  <div class="hero__content">
    <h1 class="hero__content__title">anonymous proxy</h1>
    <p class="hero__content__paragraph">In hac habitesse platea dictumst.</p>
    <div class="scroll-down">
      <a href="#reasons-to-purchase" class="button-scroll-down">
        <img src="./assets/images/ico-scroll-down.svg" alt="scroll-down" />
      </a>
    </div>
  </div>
</header>