<main class="main">
  <section class="tips">
    <h3 class="tips__title">insomnia tips</h3>
    <h2 class="tips__subtitle">looking through a window</h2>
    <p class="tips__paragraph">donec accumsan, nulla ut volutpat porttitor, quam odio tempues felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <div class="tips__button"><a href="https://www.adalab.es" class="tips__button-go">go</a>
    </div>
  </section>

  <section class="reasons" id="reasons-to-purchase">
    <h2 class="reasons__title"> 3 reasons to pruchase</h2>
    <article class="reasons__article">
      <h3 class="reasons__article-subtitle">ut sed metus</h3>
      <p class="reasons__article-paragraph">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>

    <article class="reasons__article">
      <h3 class="reasons__article-subtitle">curabituc ac erat</h3>
      <p class="reasons__article-paragraph">mauris mattirs urna quis lorem molestie.</p>
    </article>

    <article class="reasons__article">
      <h3 class="reasons__article-subtitle">morbi dictum</h3>
      <p class="reasons__article-pagraraph">aliquam in dolor et dolor tincidunt</p>
    </article>

    <div class="reasons__button"><a href="https://www.adalab.es" class="reasons__button-more">More reasons</a>
    </div>
  </section>

</main>