// fonts
$font-roboto: 'Roboto', sans-serif;
$font-robotoSlab: 'Roboto Slab', serif; 
// colors
$color-white:#ffffff;
$color-ice-blue: #eff9ff;
$color-dark-grey-blue: #304268;
$color-cerulean:#0271bc;
$color-orange: #f26002;
$color-greyish-brown: #4a4a4a;
