.footer {
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  font-family: $font-roboto;
}

.scroll-up {
  text-align: center;
}

.button-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 11px 12.4px 10px 12px;
  margin-top: -15px;
}

.interest__list {
  list-style-type: none;
  margin-top: 60px;
  margin-bottom: 30px;
}

.interest__list-item {
  text-align: center;
}

.interest__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  color: $color-white;
  text-transform: uppercase;
}

.social-media__list {
  list-style-type: none;
}

.social-media__list-item {
  text-align: center;
}

.social-media__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  color: $color-white;
  text-transform: uppercase;
}

.copy {
  margin-top: 46px;
  color: $color-white;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.motivation {
  margin-bottom: 45px;
  color: $color-white;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.love-heart {
  color: $color-orange;
}

@media all and (min-width:768px) {

 .footer {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  }
 .interest__list {
  margin-top: 45px;
  margin-left: 30px;
  margin-bottom: 105px;
  border: brown 1px solid;
  }
 .social-media__list {
  margin-top: 45px;
  margin-left: 30px;
  margin-bottom: 45px;
  border: brown 1px solid;
}
.copy {
 margin-top: 46px;
 border: brown 1px solid;
 justify-content: left;
}

.motivation {
  margin-bottom: 142px;
  border: brown 1px solid;
}
}


@media all and (min-width: 1024px) {
 .footer {
 justify-content: center;
 }
}
