.footer {
  background-color: $color-dark-grey-blue;
  display: flex;
  flex-direction: column;
  font-family: $font-roboto;
}

.scroll-up {
  text-align: center;
}

.button-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 11px 12.4px 10px 12px;
  margin-top: -15px;
}

.interest__list {
  list-style-type: none;
  margin-top: 60px;
  margin-bottom: 30px;
}

.interest__list-item {
  text-align: center;
}

.interest__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  color: $color-white;
  text-transform: uppercase;
}

.social-media__list {
  list-style-type: none;
}

.social-media__list-item {
  text-align: center;
}

.social-media__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  color: $color-white;
  text-transform: uppercase;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copy {
  margin-top: 46px;
  color: $color-white;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.motivation {
  margin-bottom: 45px;
  color: $color-white;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
}

.love-heart {
  color: $color-orange;
}

@media all and (min-width: 768px) {
  .footer {
    justify-content: space-around;
    flex-direction: row;
    position: relative;
  }
  .scroll-up {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .interest {
    order: 2;
  }

  .interest__list {
    margin-top: 45px;
    margin-left: 30px;
    margin-bottom: 105px;
  }

  .interest__list-item {
    text-align: left;
  }

  .social-media {
    order: 3;
  }

  .social-media__list {
    margin-top: 45px;
    margin-left: 30px;
    margin-bottom: 45px;
  }

  .social-media__list-item {
    text-align: left;
  }
  .copyright {
    order: 1;
  }
  .copy {
    margin-top: 45px;
    text-align: left;
  }

  .motivation {
    margin-bottom: 142px;
  }
}

@media all and (min-width: 1024px) {
  .footer {
    justify-content: center;
  }

  .interest__list {
    margin-left: 30px;
    margin-bottom: 0;
    padding: 0 60px 0 90px;
  }

  .social-media__list {
    margin-left: 30px;
    margin-bottom: 45px;
    padding: 0 60px 0 90px;
  }

  .copy {
    align-self: flex-start;
  }

  .motivation {
    margin-bottom: 142px;
  }
}
