.hero {
  height: 100vh;
  background-image: url("/assets/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  &__menu {
    // .hero__menu
    position: fixed;
    top: 0;
    width: 44px;
    height: 44px;
    background-color: $color-cerulean;
    padding: 15px 14px;
  }

  &__content {
    // .hero__content
    align-self: flex-end;
    justify-self: center;
    flex-direction: column;
    display: flex;

    &__title {
      // .hero__content__title
      font-family: $font-robotoSlab;
      font-size: 42px;
      font-weight: bold;
      word-spacing: 100vw;
      color: $color-white;
      line-height: 1.31;
      text-transform: uppercase;
      text-align: center;
    }

    &__paragraph {
      font-family: $font-roboto;
      font-size: 16px;
      text-align: center;
      color: $color-white;
      margin: 10px 0 45px;
    }

    @media all and (min-width: 768px) {
      &__title {
        font-size: 80px;
        line-height: 1.33;
      }

      &__paragraph {
        font-size: 24px;
        margin: 20px 0 30px;
      }
    }

    @media all and (min-width: 1024px) {
      &__title {
        font-size: 100px;
        line-height: 1.32;
      }
    }
  }
}

.scroll-down {
  text-align: center;
}

.button-scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 18px 12px 15.3px 13px;
  margin-bottom: 53px;
  align-self: center;
}

.button-scroll-down:hover {

  animation-duration: 1s;
  animation-name: scrolldown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes scrolldown {
  from {
    
    transform: translate(0, 0);
  }

  to {
   transform: translate(0, 7px);
    
  }
}