.tips {
  background-color: $color-white;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
}

.tips__title {
  font-family: $font-roboto;
  font-size: 14px;
  color: $color-cerulean;
  text-align: left;
  text-transform: capitalize;
}

.tips__subtitle {
  width: 200px;
  margin: 1px 0 15px;
  font-family: $font-robotoSlab;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

.tips__paragraph {
  font-family: $font-roboto;
  font-size: 18px;
  color: $color-greyish-brown;
  line-height: 1.67;
  justify-content: space-around;
  margin: 15px 0 30px;
}

.tips__button-go {
  text-decoration: none;
  font-family: $font-roboto;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: $color-orange;
  height: 45px;
  border-radius: 22.5px;
  border: $color-orange solid 2px;
  background-color: $color-white;
  padding: 5px 28px;
  margin: 0px 15px 45px;
}

@media all and (min-width: 768px) {
  .tips {
    justify-content: space-between;
  }

  .tips__subtitle {
    font-size: 26px;
    line-height: 1.73;
    width: 100vw;
  }
  .tips__paragraph {
    font-size: 20px;
    line-height: 1.5;
  }
  .tips__button-go {
    padding-left: 32px;
    padding-right: 33px;
  }
}

@media all and (min-width: 1024px) {
  .tips {
    justify-content: space-evenly;
  }

  .tips__subtitle {
    font-size: 32px;
  }
  .tips__button-go {
    padding-left: 67px;
    padding-right: 68px;
  }
}

.reasons {
  background-color: $color-ice-blue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto auto auto 90px;
  row-gap: 45px;
  text-align: center;
}

.reasons__title {
  font-family: $font-robotoSlab;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 30px;
}

.reasons__article-subtitle {
  font-family: $font-robotoSlab;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.reasons__article-subtitle:first-letter {
  text-transform: capitalize;
}
.reasons__article-paragraph {
  font-family: $font-roboto;
  font-size: 18px;
  line-height: 1.67;
}

.reasons__button-more {
  text-decoration: none;
  font-family: $font-roboto;
  font-size: 20px;
  font-weight: 500;
  border: $color-orange;
  background-color: $color-orange;
  color: $color-white;
  border-radius: 22.5px;
  padding: 8px 30px;
}

@media all and (min-width: 768px) {
  .reasons {
    grid-template-rows: 93px 93px 93px;
    grid-template-columns: 30% 40% 30%;
    row-gap: 30px;
    text-align: center;
  }
  .reasons__title {
    font-size: 32px;
    grid-column: 1 / span 3;
    text-align: center;
  }
  .reasons__article-subtitle {
    font-size: 24px;
  }
  .reasons__button {
    grid-column: 1 / span 3;
  }
  .reasons__button-more {
    margin-bottom: 70px;
    padding: 12px 43px;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 1024px) {
  .reasons {
    justify-content: center;
  }

  .tips__subtitle {
    font-size: 32px;
  }
  .reasons__button-more {
    padding-right: 62px;
    padding-left: 63px;
  }
}
